{% extends 'default.html' %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
   <h1>Все посты {{posts|length}}</h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.time_created|date:'d M Y' }}</td>
               <td>{{ post.content|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
